@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Miama';
    src: url('../fonts/Miama.otf');
}


/* common css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgba(0, 0, 0, 1);
    font-family: "Inter", sans-serif; 
}

.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
    width: 14rem;
    height: 3,3rem;
}

.btn-secondary {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    width: 14rem;
    height: 3,3rem;
}


/* banner sec */
.banner {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    height: 100%;
    padding-top: 3rem;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: overlay;


}

/* nav */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    margin-bottom: 6rem;

}

.logo {
    color: rgb(230, 83, 60);
    font-size: 2.2rem;
    font-weight: 800;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px 16px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    width: 50%;
    margin-right: -25rem;
}


.home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-left: -8px
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.content {
    width: 40%;
    margin-bottom: 5rem;
}

.content h1 {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 28px;

}

.content span {
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
    font-weight: 400;

}

.content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
}


.card {
    position: relative;
}

.card1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    width: 193px;
    position: absolute;
    left: 220px;
    top: -490px;
}

.card1 h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;

}

.card1 p {

    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);


}

.card2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 1.5rem;
    width: 206px;
    position: absolute;
    right: 250px;
    bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    ;
    border-radius: 50%;
    margin-right: 10px;
}

.card2 h3 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.card2 p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}

/* main common*/

main {
    background-color: rgba(0, 0, 0, 1);
    height: 500rem;
}

main  section {
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
    margin-top: 6.2rem;
}


main p ,td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
}

.main-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.9rem;
}




/* habits sec */

.habits-text {
    margin-bottom: 3.6rem;
}

.habits-text p {
    width: 60%;
    margin: 0 auto;
}

.habits-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
}

.habit-card img {
    border-radius: 50%;
    margin-bottom: 1.9rem;
}

.habit-card h5 {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

/* run sec */

.run {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 1.5rem;
    
}

.run-text{
    text-align: left;
    width: 45%;
    margin-left: 2rem;
}
.run-text p{
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.run-image {
    width: 35%;
    height: 300px; 
    border-radius: 18px;
    background-image: url('../images/run.jpg');
    background-size: 340%; 
    background-position: 70% 30%; 
    background-repeat: no-repeat;
    /* overflow: hidden;  */
}

/* BMI sec */
/* .bmi{
    max-width: 100%;
   
}
.bmi h5{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
}
.bmi-text{
    
}
.bmi-container{
    background: rgb(34, 34, 34);
    margin-top: 5.5rem;
    height: 487px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.chart{
    margin-bottom: 5rem;
}

.chart table {
    border-collapse: collapse;
    margin: 0 auto;
    letter-spacing: 1px;
    margin-top: 3.25rem;
    text-align: left;
   
  }
   td,th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.8rem;
  }
.chart thead{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;

}
.calculate{
    width: 45%;
}
.calculate-text{
    text-align: left;
    margin-bottom: 34px;
}
.calculate-text p{
    margin-top: 14px;
    line-height: 24px;
}
input,select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    border: none;
   
}

.calculate button{
    margin-top: 34px;
    
} */

/* team sec */

.team-text{
    width: 65%;
    margin: 0 auto;
}
.team-container{
    height: 604px;
    margin-top: 58px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: 1rem;
}
.team h5{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 900;
    line-height: 120%;
}
.team-card{
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.team-card-text{
    text-align: left;
    position: absolute;
    bottom: 15px;
    left: 20px;
    letter-spacing: 2px;
}
.img1{
    
    background-image: url("../images/trainer1.png");
    
}
.img2{
    background-image: url("../images/trainer2.png");
    
}
.img3{
    background-image: url("../images/trainer3.png");
    
}
.img4{
    background-image: url("../images/trainer4.png");
    
}
.img5{
    background-image: url("../images/trainer5.png");
    
}
.img6{
    background-image: url("../images/trainer6.png");
    
}

